.cajita {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1pc solid black;
    background-color: greenyellow;
    margin: 20px;
}

.transformacion:hover {
    transform: rotate(45deg);
    /* translateX() > func()  > func()  > func()  > func() */
    /* transform: translateX(150px) translateY(50px); */
    /* transform: scale(.5); */
    /* transform: scaleX(.5); */
    /* transform: skew(0, -20deg); */
    /* transform: skewX(-20deg); */

    transform-origin: center left;
}